{% extends 'base.html.twig' %}

{% block title %}Hello AdministradorController!{% endblock %}

{% block body %}
    <h1>Pantalla de Administrador</h1>

    <div style="display: flex; gap: 20px;">
        <a href="{{ path('gestion_usuarios') }}" class="btn btn-primary">Gesti贸n de Usuarios</a>
        <a href="{{ path('gestion_recetas') }}" class="btn btn-secondary">Gesti贸n de Recetas</a>
        <a href="{{ path('gestion_ingredientes') }}" class="btn btn-success">Gesti贸n de Ingredientes</a>
    </div>

    <form method="post" action="{{ path('app_logout') }}">
        <button type="submit" class="btn btn-danger mt-4">
            Cerrar sesi贸n
        </button>
    </form>
{% endblock %}
