DirectoryIndex index.php

<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /

    # Si el archivo o carpeta existe, lo sirve directamente
    RewriteCond %{REQUEST_FILENAME} -f [OR]
    RewriteCond %{REQUEST_FILENAME} -d
    RewriteRule ^ - [L]

    # Si no existe, reenvía a index.php
    RewriteRule . index.php [L]
</IfModule>
